$heder1: 2.5rem;
$heder2: 4rem;
$heder3: 2.5rem;
$heder4: 2rem;
$text: 2.5rem;
$grey-text:#2c2c2c;

@mixin flex($justify, $align, $diretion) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $diretion;
}

@import "global";
@import "intro";
